<template name="cover">
  <section id="cover-slide">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 n-p">
          <div class="fadein">
            <div class="slider-wrapper">
              <div class="slide slide-1">  
                <div class="row">
                  <div class="col-sm-4">
                    <p>
                      <i>“ There is no exercise better for the heart than reaching down and lifting people up.”</i>
                      <span>― John Holmes</span>
                    </p>
                    <button class="btn btn-hollow">become a sponsor</button>
                  </div>
                </div>
              </div>
              <div class="slide slide-2">  
                <div class="row">
                  <div class="col-sm-4">
                    <p>
                      <i>“ You give but little when you give of your possessions.It is when you give of yourself that you truly give.” </i>
                      <span>― Kahlil Gibran</span>
                    </p>
                    <button class="btn btn-hollow">become a sponsor</button>
                  </div>
                </div>
              </div>
              <div class="slide slide-3">  
                <div class="row">
                  <div class="col-sm-4">
                    <p>
                      <i>“(I)f we are going to be kind, let it be out of simple generosity, not because we fear guilt or retribution.” </i>
                      <span>― J.M. Coetzee</span>
                    </p>
                    <button class="btn btn-hollow">become a sponsor</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
