<template name="featurekid">
  <section id="feature-kid">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="n-m mb-s">Story of Rolly</h2>
          <iframe src="https://player.vimeo.com/video/136596920" width="100%" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p><a href="https://vimeo.com/136596920">Rolly Casas</a> from <a href="https://vimeo.com/felixeichhorn">Felix Eichhorn</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
        <div class="col-sm-6 text-justify">
          <div class="feature-kid-desc">
            <p>We met young Rolly from Pier 4… he is a member and leader of the G Unit, the young dance group from Pier 4… we were so struck by these young boys… their living conditions are truly horrific… they are surrounded by dark influences in their lives and yet they can be committed and dedicated to their life of dance.</p>
            <p>Their discipline and sheer guts and determination are extremely impressive. As we learnt more about the boys we were immediately struck by their heart and fight to be different.</p>
            <p>Rolly’s mother died from Leukemia when he was only 7 years of age. His father soon took up with another lady, but sadly she didn’t like Rolly and refused to have him the house. Rolly tried to be different from all those around him … he determined that he was going to finish school and put himself through college, however after working hard and trying to</p>
            <button class="btn btn-primary btn-more">know more about rolly <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
          </div>
        </div>
      </div>
      <div class="show-more-children hide-igc">
        <div class="row">
          <div class="col-sm-6">
            <h2 class="n-m mb-s">Story of Nicole</h2>
            <iframe src="https://player.vimeo.com/video/136596920" width="100%" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p><a href="https://vimeo.com/136596920">Nicole</a> from <a href="https://vimeo.com/felixeichhorn">Felix Eichhorn</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
          </div>
          <div class="col-sm-6 text-justify">
            <div class="feature-kid-desc">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ex similique magnam adipisci nostrum, dolorum, impedit culpa ducimus, veritatis laboriosam quod. Sunt voluptas fugiat tempora rem, autem saepe asperiores eos.</p>
              <button class="btn btn-primary btn-more">know more about nicole <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
            </div>
          </div>
        </div>
      </div>
      <a href="#" class="d-blk" id="show-children">
        <div class="view-more-container">
          <div class="row">
            <div class="col-sm-12 text-center">
                <p class="vmc">View more children</p>
                <p class="n-mb"><span class="glyphicon glyphicon-chevron-down"></span></p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </section>
</template>
