<template name="news">
  <section id="news-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h3>International Gospel Centre</h3>
          <p>IGC's mission is to share the love of Christ with the poor, hurt and vulnerable of this world.
In moving forward, IGC is looking not only to expand our Child Sponsorship program but to take on new projects and opportunities as the Father places them in our path. For more than 26 years, ‘International Gospel Centre’ has been committed to reaching the most destitute and vulnerable children in the Philippines, Uganda and Zambia by impacting their lives with the power of love in action - giving them hope for the future. We do this through comprehensive and effective programs that not only reach each child, but their families and their local and wider communities.  Our largest program is Child Sponsorship where, for a small donation each month, sponsors provide children with basic health and education costs.</p>
        </div>
        <div class="col-sm-4">
          <img src="igc-1.jpg" alt="igc" class="img-responsive img-thumbnail" />
        </div>
      </div>
    </div>
  </section>
</template>
