<template name="testimonial">
  <section id="testimonial-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <cite>  
            <p class="testimonial-msg"><span>"</span> My dear brothers and sisters in the Lord, we are so glad to tell you about what the Lord has been doing in our church here in the Inayawan Cebu City.  First, Pastors Steve and Angie Nichols (interim IGC directors) and Pastors Fred and Nancy Lueckhof (newly appointed IGC Field Directors) installed me as the new pastor here in Inayawan. <span>"</span></p>
          </cite>
          <img src="pastor.jpg" alt="Pastor Rey" class="img-circle img-testimonial">
          <h3>Pastor Rey</h3>
        </div>
      </div>
    </div>
  </section>
</template>
