.page-container {
  min-height: 400px;
}

.basic-info-container {
  margin-top: 20px;
}

.health-cb {
  vertical-align: middle;
}

.select-fields {
  width: 100%;
}

.calendar-icon {
  cursor: pointer;
}

.form-container {
  padding-top: 15px;
}

.input-group#birthday-field {
  padding-left: 15px;
  padding-right: 15px;
}
