html, body {
	font-family: 'Roboto', sans-serif;
}
.navbar {
	border-radius: 0;
	min-height: 70px;
	z-index: 1;
	margin-bottom: 0;
}

.navbar-nav > li > a {
	padding-top: 24px;
  	padding-bottom: 24px;
}

.navbar-default {
	background-color: #0EB7CD;
	border: 0;
}

.navbar-brand {
	height: 70px;
	padding: 24px 15px;
}

.cover-desc {
	font-size: 23px;
}

.btn-hollow {
	border-radius: 3px;
	border: solid 2px #ffffff;
	background-color: transparent;
	padding: 10px 20px;
  	text-transform: uppercase;
    font-size: 17px;
	font-weight: bold;
}

.btn-hollow:hover {
	color: #f39c12;
	border-color: #f39c12;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
	color: @white;
}

.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #0B6580;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #8BDCFF;
}

.slider-wrapper {
	height: 400px;
	width: 100%;
}

.slider-wrapper {
    position: relative;
    height: 400px;
    width: 100%;
}

.slider-wrapper .slide {
    position:absolute;
    left: 0;
    height: 400px;
    width: 100%;
    top: 0;
}

.slide {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0 50px;
}

.slide:before {
	content: "";
	background-image: url("pattern.png");
    width: 100%;
    height: 400px;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}

.slide p, .slide .btn-hollow {
	color: @white;
}

.slide p {
	font-size: 18px;
	font-weight: bold;
	padding-top: 80px
}

.slide .btn-hollow {
	margin-top: 30px;
}

.slide .btn-hollow:hover {
	color: #f39c12;
	border-color: #f39c12;
}

.slide-1 {
	background-image: url('cover-1.jpg');
}

.slide-2 {
	background-image: url('cover-2.jpg');
}

.slide-3 {
	background-image: url('cover-3.jpg');
}

// ----------------------- news section -----------------------------------------------

.sec-1-icon span {
  	font-size: 32px;
  	padding: 18px;
  	border-radius: 50%;
  	color: #0EB7CD;
  	border: solid 2px #0EB7CD;
}

.sec-1-desc p {
	color: #9B9B9B;
}

// ----------------------- end news section -------------------------------------------

// ----------------------- feature kid section ----------------------------------------

section#feature-kid {
	background-color: #F4F4F4;
}

.feature-kid-desc {
	padding-top: 40px;
}

.view-more-container {
	background-color: #BAD4E7;
	padding: 10px 0 3px;
	border-radius: 3px;
}

.view-more-container:hover {
	background-color: #A4CAE7;
}

.view-more-container a {
	text-decoration: none;
}

.vmc {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 0;
}
// ----------------------- end feature kid section ------------------------------------

// ----------------------- testimonial section ----------------------------------------

.img-testimonial {
	background-color: #FFF;
	border: solid 3px #FFF;
	box-shadow: 0 0 5px #000;
}

.testimonial-msg {
	font-size: 19px;
}

.testimonial-msg span {
	font-size: 19px;
	font-weight: bold;
	color: #515151;
}

// ----------------------- end testimonial section ------------------------------------

// ----------------------- footer section ---------------------------------------------

section#footer-section {
	background-color: #181e21;
	padding: 30px 0;
}

#footer-section .alr {
	color: @white;
}

.sm-footer .fa {
	color: @c1;
}


// ----------------------- end footer section ----------------------------------------

// ----------------------- global variables ------------------------------------------

section#news-section, section#feature-kid, section#testimonial-section  {
	padding: 50px 0;
}

.btn-more {
	text-transform: uppercase;
	font-size: 12px;
}

.n-p {
	padding: 0;
}

.n-m {
	margin: 0;
}

.mb-s {
	margin-bottom: 10px;
}

.mt-s {
	margin-top: 10px;
}

.mr-s {
	margin-right: 10px;
}

.ml-s {
	margin-left: 10px;
}

.pb-s {
	padding-bottom: 10px;
}

.pt-s {
	padding-top: 10px;
}

.pr-s {
	padding-right: 10px;
}

.pl-s {
	padding-left: 10px;
}

	@white : #FFFFFF;
	@c1 : #0EB7CD; // main color/header color

//----------------------- end global variables ---------------------------------