<template name="addchild">
  <div class="col-lg-10 col-lg-offset-1">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Basic Info</a></li>
      <li role="presentation"><a href="#health" aria-controls="health" role="tab" data-toggle="tab">Health</a></li>
      <li role="presentation"><a href="#family" aria-controls="family" role="tab" data-toggle="tab">Family</a></li>
      <li role="presentation"><a href="#sponsorship" aria-controls="sponsorship" role="tab" data-toggle="tab">Sponsorship</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="basic">
        <form class="form-horizontal">
          <div class="col-lg-4 col-md-4 col-sm-4 basic-info-container">
            {{> basicInfo}}
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 basic-info-container">
            {{> academicInfo}}
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 basic-info-container">
            {{> basicInfo}}
          </div>
        </form>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="academic">
        academic
      </div>
      <div role="tabpanel" class="tab-pane fade" id="health">
        health
      </div>
      <div role="tabpanel" class="tab-pane fade" id="sponsorship">
        sponsorship
      </div>
    </div>
  </div>
</template>


<template name="basicInfo">
  <legend>
   Basic Information
  </legend>
  <div class="form-group">
    <label for="firstName" class="col-md-4 col-sm-5 control-label">First Name:</label>
    <div class="col-md-8 col-sm-7">
      <input class="form-control" id="firstName" />
    </div>
  </div>
  <div class="form-group">
    <label for="firstName" class="col-md-4 col-sm-5 control-label">Middle Name:</label>
    <div class="col-md-8 col-sm-7">
      <input class="form-control" id="middleName" />
    </div>
  </div>
  <div class="form-group">
    <label for="firstName" class="col-md-4 col-sm-5 control-label">Last Name:</label>
    <div class="col-md-8 col-sm-7">
      <input class="form-control" id="lastName" />
    </div>
  </div>
  <div class="form-group">
    <label for="birthday" class="col-md-4 col-sm-5 control-label">Date of Birth:</label>
    <div class="col-md-8 col-sm-7">
      <input type="date" class="form-control" id="birthday" />
    </div>
  </div>
  <div class="form-group">
    <label for="gender" class="col-md-4 col-sm-5 control-label">Gender:</label>
    <div class="col-md-8 col-sm-7">
      <select class="form-control" id="gender">
        <option value="male">Boy</option>
        <option value="female">Girl</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="area" class="col-md-4 col-sm-5 control-label">Area:</label>
    <div class="col-md-8 col-sm-7">
      <input class="form-control" id="area" />
    </div>
  </div>
</template>

<template name="academicInfo">
  <legend>
    Academic Information
  </legend>
  <div class="form-group">
    <label>School:</label>
    <div class="col-md-8 col-sm-7">
      <input class="form-control" id="school" />
    </div>
  </div>
</template>
