<template name="footer">
  <section id="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div>
            <span class="sm-footer">
              <ul class="list-unstyled list-inline">
                <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-envelope-square fa-2x"></i></a></li>
              </ul>
            </span>
            <span class="alr">&copy; 2015 IGC . All rights reserved</span>
          </div>
        </div>
        <div class="col-sm-4 pull-right">
          <div class="pull-right mt-s">
            <span><a href="#"><img src="donate.gif" alt="donate"></a></span>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
