<template name="news">
  <section id="news-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="row mb-s">
            <div class="col-sm-3">
              <div class="sec-1-icon text-center">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="sec-1-desc">
                <h4>Quality</h4>
                <p>Omittam legendos laboramus cum ad. Oblique patrioque disputationi sea et, mea malis option neglegentur te. Ex sed primis phaedrum, te hinc equidem deseruisse vix.</p>
              </div>
            </div>
          </div>
          <div class="row mb-s">
            <div class="col-sm-3">
              <div class="sec-1-icon text-center">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="sec-1-desc">
                <h4>Easy</h4>
                <p>Fuisset delectus disputando mel in, ad cum cibo corrumpit, sit ut quis discere consectetuer. Sit at ferri habeo vivendo, per suas tollit interpretaris eu.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row mb-s">
            <div class="col-sm-3">
              <div class="sec-1-icon text-center">
                <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="sec-1-desc">
                <h4>Fast</h4>
                <p>An vel nusquam docendi disputando, sit civibus epicurei efficiendi ex. Labitur consetetur persequeris quo in. Vitae blanditiis, obcaecati provident cupiditate error asperiores. Cupiditate, consequuntur.</p>
              </div>
            </div>
          </div>
          <div class="row mb-s">
            <div class="col-sm-3">
              <div class="sec-1-icon text-center">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="sec-1-desc">
                <h4>Optimized</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate rem adipisci, iusto! Doloribus odit, voluptatem, maxime sed eos minima quos laudantium.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
