<template name="familyInfo">
  <legend class="text-center">
   Parents
  </legend>
  <div class="form-group">
    <label for="firstName" class="col-md-4 control-label">Father's Name:</label>
    <div class="input-group col-md-8">
      <input class="form-control" id="firstName" />
    </div>
  </div>
  <div class="form-group">
    <label for="firstName" class="col-md-4 control-label">Mother's Name:</label>
    <div class="input-group col-md-8">
      <input class="form-control" id="middleName" />
    </div>
  </div>
  <legend class="text-center">
   Siblings
  </legend>
  <div class="form-group">
    <label for="firstName" class="col-md-4 control-label">Brother: </label>
    <div class="input-group col-md-8">
      <input class="form-control" id="middleName" />
    </div>
  </div>
  <div class="row pull-right">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Add Sibling <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Brother</a></li>
      <li><a href="#">Sister</a></li>
    </ul>
  </div>
</template>
