<template name="health">
  <form class="form-horizontal">
    <div class="col-sm-4 basic-info-container">
      <legend class="text-center">
        Health Status
      </legend>
      <div class="form-group">
        <label for="immunized" class="col-md-4 control-label">Immunized:</label>
        <input type="checkbox" class="health-cb health-info-fields" id="isImmunized" />
      </div>
      <div class="form-group">
        <label for="immunization" class="col-md-4 control-label">Immunization:</label>
        <div class="input-group col-md-8">
          <select class="select-fields health-info-fields" id="immunizations" multiple>
            <option></option>
            <option>Immu 1</option>
            <option>Immu 2</option>
            <option>Immu 3</option>
            <option>Immu 4</option>
            <option>Immu 14</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="healthStatus" class="col-md-4 control-label">Health Status:</label>
        <div class="input-group col-md-8">
          <select class="form-control select-fields health-info-fields" id="healthStatus">
            <option hidden selected></option>
            <option>Good</option>
            <option>Not Good</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-4 basic-info-container">
      <legend class="text-center">
        Health Conditions
      </legend>
      <div class="form-group">
        <div class="row">
          <label for="skinConditionSelf" class="col-md-5 control-label">Skin Condition:</label>
          <div class="input-group col-md-3">
            <input type="checkbox" class="health-cb health-info-fields" id="hasSkinCondition" />
          </div>
        </div>
        <div class="row">
          <label for="asthmaSelf" class="col-md-5 control-label">Asthma:</label>
          <div class="input-group col-md-3">
            <input type="checkbox" class="health-cb health-info-fields" id="hasAsthma" />
          </div>
        </div>
        <div class="row">
          <label for="boilsSelf" class="col-md-5 control-label">Boils:</label>
          <div class="input-group col-md-3">
            <input type="checkbox" class="health-cb health-info-fields" id="hasBoils" />
          </div>
        </div>
        <div class="row">
          <label for="malnutritionSelf" class="col-md-5 control-label">Malnutrition:</label>
          <div class="input-group col-md-3">
            <input type="checkbox" class="health-cb" id="malnutritionSelf" />
          </div>
        </div>
        <div class="row">
          <label for="hasEyeProblems" class="col-md-5 control-label">Eye Problems:</label>
          <div class="input-group col-md-3">
            <input type="checkbox" class="health-cb health-info-fields" id="hasEyeProblems" />
          </div>
        </div>
        <div class="row">
          <label for="goiterSelf" class="col-md-5 control-label">Goiter:</label>
          <div class="input-group col-md-3">
            <input type="checkbox" class="health-cb health-info-fields" id="hasGoiter" />
          </div>
        </div>
        <div class="row">
          <label for="hasTb" class="col-md-5 control-label">TB:</label>
          <div class="input-group col-md-3">
            <input type="checkbox" class="health-cb health-info-fields" id="hasTb" />
          </div>
        </div>
        <div class="row">
          <label for="hasDentalProblems" class="col-md-5 control-label">Dental Problems:</label>
          <div class="input-group col-md-3">
            <input type="checkbox" class="health-cb health-info-fields" id="hasDentalProblems" />
          </div>
        </div>
        <div class="row">
          <label for="hasOtherConditions" class="col-md-5 control-label">Others:</label>
          <div class="input-group col-md-6">
            <select class="select-fields health-info-fields" id="hasOtherConditions" multiple>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 basic-info-container">
      <legend class="text-center">
        Family Health Conditions
      </legend>
      <div class="form-group">
        <label for="famSkinConditions" class="col-md-5 control-label">Skin Conditions:</label>
        <div class="input-group col-md-6">
          <select class="select-fields health-info-fields" id="famSkinConditions" multiple>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="famAsthma" class="col-md-5 control-label">Asthma:</label>
        <div class="input-group col-md-6">
          <select class="select-fields health-info-fields" id="famAsthma" multiple>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="famBoils" class="col-md-5 control-label">Boils:</label>
        <div class="input-group col-md-6">
          <select class="select-fields health-info-fields" id="famBoils" multiple>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="famMalnutrition" class="col-md-5 control-label">Malnutrition:</label>
        <div class="input-group col-md-6">
          <select class="select-fields health-info-fields" id="famMalnutrition" multiple>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="famEyeProblems" class="col-md-5 control-label">Eye Problems:</label>
        <div class="input-group col-md-6">
          <select class="select-fields health-info-fields" id="famEyeProblems" multiple>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="famGoiter" class="col-md-5 control-label">Goiter:</label>
        <div class="input-group col-md-6">
          <select class="select-fields health-info-fields" id="famGoiter" multiple>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="famTb" class="col-md-5 control-label">TB:</label>
        <div class="input-group col-md-6">
          <select class="select-fields health-info-fields" id="famTb" multiple>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="famTb1" class="col-md-5 control-label">TB1:</label>
        <div class="input-group col-md-6">
          <select class="select-fields health-info-fields" id="famTb1" multiple>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="famDentalProblems" class="col-md-5 control-label">Dental Problems:</label>
        <div class="input-group col-md-6">
          <select class="select-fields health-info-fields" id="famDentalProblems" multiple>
          </select>
        </div>
      </div>
    </div>
  </form>
</template>
