<template name="uploadmedia">
  <div class="row">
    <div class="col-sm-12 basic-info-container">
      <legend class="text-center">
        Upload Pictures
      </legend>
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-primary" id="upload_widget_opener">
            Upload images
          </button>
        </div>
      </div>
      <div class="image-grid">
        {{#each listFiles}}
          <div class="image-grid-item">
            <img class="image-grid-photo" src="{{this.secure_url}}"/>
            <i class="remove-image-btn fa fa-times fa-2x" id="{{this.public_id}}"></i>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  <!-- {{> dropzone url='http://somewebsite.com/upload' id='dropzoneDiv' maxFiles=4}} -->
  <div class="row" style="padding-top: 10px">
    <div class="col-sm-12">
      <button class="btn btn-primary mr-s pull-right {{isAdding.disableAddBtn}} {{hasImagesAdded}}" id="addchild">
        {{isAdding.addBtnValue}}
        <i class="fa fa-refresh {{isAdding.isAdding}}"></i>
      </button>
      <button class="btn btn-primary mr-s pull-right" id="prevpage">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Previous
      </button>
    </div>
  </div>
</template>
